

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.body{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.logo-div{
  display: inline-flex;
  justify-content: space-evenly;
  gap: 5em;
  margin: auto;
  width: 15em;
  margin-bottom: 3em !important;
}
.logo{
  display: inline-block;
  width: 15em;
  border-radius: 50%;
}
h1{
  text-align: center;
  margin-bottom: 2em;
  font-size: 40px;
  text-shadow: 0 0 10px #fce44d,
             0 0 20px rgba(255,175,0,0.8),
             0 0 30px rgba(255,225,0,0.5);
}
.search{
  margin: auto;
  margin-bottom: 6em;
  height: 4em;
  width: 28em;
  font-size: 25px;
  color: #FCE44D;
  border-radius: 2em;

}
input{
  background-color: #2C71DF;
  font-size: 20px !important;
 
}
input::placeholder {
  color:  #FCE44D;
  text-align: center !important;
}

/* Define column styles */
.column {
  width: 50%;
  float: left;
  padding: 0 10px;
  box-sizing: border-box;
}

/* Clear floats after columns */
.row::after {
  content: "";
  clear: both;
  display: table;
}
div{
  background-color: black;
  color: white;
  font-family: 'Abril Fatface', cursive;
 

}
.category{
  font-size: 1.7em !important;
  font-style: italic;
  color: #2C71DF;
  text-shadow: whitesmoke 2px 2px;
}
.question{
  color: red !important;
  font-size: 1.3em !important;
}

/* Style questions */
.questions {
  margin-bottom: 30px;
border: solid;
  padding: 10px;
  border-color: goldenrod;
  font-size: 22px;
  border-radius: 1em;
}

/* Style question headers */
.questions h2 {
  margin-top: 0;
  font-size: 2.2em;
  font-weight: bold;

  margin-bottom: 10px;
}

/* Style answer paragraphs */
.questions .answers {
  margin-bottom: 0;
  font-size: 1.1em;
}
.answers{
  line-height: 25px;

}

