

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.body{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.logo-div{
  display: inline;
  width: 15em;
  margin-bottom: 3em !important;
}
.logo{
  display: inline-block;
  width: 15em;
}
.search{
  margin: auto;
  margin-bottom: 6em;
  height: 4em;
  width: 28em;
  font-size: 25px;
  color: #FCE44D;
}
input{
  background-color: #2C71DF;
  font-size: 20px !important;
 
}
input::placeholder {
  color:  #FCE44D;
}

/* Define column styles */
.column {
  width: 50%;
  float: left;
  padding: 0 10px;
  box-sizing: border-box;
}

/* Clear floats after columns */
.row::after {
  content: "";
  clear: both;
  display: table;
}
div{
  background-color: black;
  color: white;
  font-family: 'Abril Fatface', cursive;

}

/* Style questions */
.questions {
  margin-bottom: 20px;
border: solid;
  padding: 10px;
  border-color: goldenrod;
  font-size: 22px;
}

/* Style question headers */
.questions h2 {
  margin-top: 0;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Style answer paragraphs */
.questions .answers {
  margin-bottom: 0;
  font-size: 1.1em;
}

